* {
    text-align: center;
    font-family: 'Handlee'
}

.left-col {
    height: 275px;
    width: 50%;
}
.right-col {
    margin-top: 225px;
    font-size: 25px;
}

.title {
    font-size: 60px;
    font-family: 'Handlee', cursive;
    color: grey;
}
